# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
*.classpath
*.project
*.settings/
bin/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Target folder
/target/

# H2 database file (if used on-disk)
*.mv.db
